.banner
{
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.banner h1, .banner img 
{
    display: inline-block;
}
.banner h1{
    font-size: 50px;
    color: green
}
#img
{
    height: 7%;
    width: 7%;
    text-align: right;
}
#shoppingList
{
    /* border: black 1px solid; */
    /* width: 5%; */
    line-height: 50%;
}
.form-div
{
    /* display: flex;
    flex-direction: ; */
    margin-bottom: 10px;
    text-align: left;
}
.list-div, #shoppingList
{
    text-align: left;
}
.list-div h2
{
    display: inline-block;
}
.list-div form
{
    display: inline-block;
}
body
{
    text-align: center;
}
td {
    border: thick solid green;
    padding: 5px;
  }
h2{
    color: green
}
body{
    color: green;
    font-style: bold;
  }
button{
    color: green;
    border-color: green;
    background-color: lightgreen;
}